{% extends 'base.html.twig' %}

{% block titulo %} Agregar Animal {% endblock titulo %}

{% block contenido %}
<!--Intento de comentario -->
<h1>Ingreso de animales</h1>
        <form action="almacenar" method="POST">
        <table>
            <tr>
                <td>
                    <label>Nombre </label>
                </td>
                <td>
                    <input type="text" name="txtNombre" id="txtNombre" required minlength="3" maxlength="50">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Peso </label>
                </td>
                <td>
                    <input type="number" name="txtPeso" id="txtPeso" step="0.1" required min="0,1" max="200">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Tipo </label>
                </td>
                <td>
                    <select name="cboTipo" id="cboTipo" required>
                        <option value="">Seleccionar: </option>
                        {% for tipo in tipos %}
                        
                        <option value="{{ tipo.getId() }}">{{ tipo.getNombre() }}</option>
                        
                        {% endfor %}
                        
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Genero: </label>
                </td>
                <td>
                    <input type="text" name="txtGenero" id="txtGenero" required minlength="3" maxlength="10">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Fecha Nacimiento </label>
                </td>
                <td>
                    <input type="date" name="txtFechaNacimiento" id="txtFechaNacimiento" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Sector </label>
                </td>
                <td>
                    <select name="cboSector" id="cboSector" required>
                        <option value="">Seleccionar: </option>
                        {% for sector in sectores %}
                        
                        <option value="{{ sector.getId() }}">{{ sector.getNombre() }}</option>
                        
                        {% endfor %}
                        
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Fecha Ingreso </label>
                </td>
                <td>
                    <input type="date" name="txtFechaIngreso" id="txtFechaIngreso" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Fecha Defuncion </label>
                </td>
                <td>
                    <input type="date" name="txtFechaDefuncion" id="txtFechaDefuncion" >
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Guardar" name="btnGuardar" id="btnGuardar">
                </td>
            </tr>
        </table>
         
        </form>
        <h4>{{ mensaje }}</h4>


{% endblock contenido %}